
*{
  margin: 0;
  color: hsl(240, 64%, 25%);
}
.all-wrapper{
  background-color: hsl(240, 64%, 95%);
  min-block-size: 100vh;
  font-family: sans-serif;
}

table{
  margin: 0 auto;
  background-color: hsl(240, 64%, 75%);
  border-inline-start: thick solid hsl(240, 64%, 75%);
  border-inline-end: thick solid hsl(240, 64%, 75%);
  border-collapse: collapse;
  caret-color: transparent;
}
caption{
  margin: 3lh 0 0.25lh;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
th,td{
  text-align: center;
}
th{
  border-inline-end: thick solid hsl(240, 64%, 75%);
  color: hsl(240, 64%, 99%);
}
thead th{
  background: linear-gradient(hsl(240, 64%, 75%), hsl(240, 64%, 40%));
  border-block-end: thick solid hsl(240, 64%, 75%);
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0.75rlh;
}
tbody th{
  border-inline-end: thin solid hsl(240, 64%, 75%);
  color: hsl(240, 64%, 25%);
}
tbody td, select{
  font-size: 1.125rem;
  padding: 0.25rlh 0.5rlh;
}
tbody td + td{
  border-inline-start: thin solid hsl(240, 64%, 75%);
}
tbody tr:nth-child(odd){
  background-color: hsl(240, 64%, 99%);
}
tbody tr:nth-child(even){
  background-color: hsl(240, 64%, 95%);
}
tbody td:nth-child(2)::first-letter, tbody td:nth-child(3){
  text-transform: capitalize;
}
tfoot td{
  background: linear-gradient(to top, hsl(240, 64%, 75%), hsl(240, 64%, 40%));
  padding: 0.375rlh 0;
  border-block-start: thick solid hsl(240, 64%, 75%);
}
select{
  padding: 0.375rlh;
  font-weight: bold;
  font-variant: small-caps;
  background-color: transparent;
  border: thin solid hsl(240, 64%, 40%, 0);
  border-radius: 1ch;
}
select:is(:hover, :focus){
  outline: thin solid hsl(240, 64%, 40%);
}
select, button{
  cursor: pointer;
  outline-color: hsl(240, 64%, 40%);
}

button{
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rlh 1.5rlh;
  background-color: hsl(240, 64%, 25%);
  border: none;
  border-radius: 1ch;
  box-shadow: inset 0 0 1ch hsl(240, 64%, 95%);
  caret-color: transparent;
  color: hsl(240, 64%, 99%);
}
button:is(:hover, :focus){
  background-color: hsl(240, 64%, 40%);
}

form{
  position: absolute;
  top: 20vh;
  left: -40ch;
  inline-size: 35ch;
  padding-block-end: 1rlh;
  background-color: hsl(240, 64%, 95%);
  border-radius: 1rlh;
  box-shadow: 0 0 5ch hsl(240, 64%, 25%);
  text-align: center;
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  transition-property: transform, visibility, opacity;
  transition-duration: 500ms;
}
form.transform{
  transform: translateX(calc(50vi + 21ch));
  visibility: visible;
  opacity: 1;
}
fieldset{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  row-gap: 1.5ch;
  text-align: start;
  padding: 0;
  margin: 1rlh 1rlh 2rlh;
  border: none;
}
legend{
  font-weight: bold;
  font-size: 1.25em;
  margin-block-end: 1rlh;
}
label{
  inline-size: 100%;
  display: block;
}
input{
  inline-size: 97.5%;
  margin-block-start: 0.125lh;
}
#btnAddBook{
  margin-inline-end: 1.5rlh;
}
.btnClozeForm{
  position: absolute;
  top: 2%;
  right: 1.5%;
  padding: 0 0.25lh;
  font-size: 1.5rem;
  border: thin solid hsl(240, 64%, 25%);
  background-color: hsl(240, 64%, 95%);
  color: hsl(240, 64%, 25%);
}
.btnClozeForm:is(:hover, :focus){
  outline-color: hsl(240, 64%, 40%);
  color: hsl(240, 64%, 99%);
}